.header {
  background-image: linear-gradient(rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 0.85),rgba(255, 255, 255, 0.76), rgba(255, 255, 255, 0.2)), url("../assets/bg.png"); 
  background-size: cover;
  background-position: center;
}