.header {
  background-color: #ffffff;
}

@media (max-width: 1024px) {
  .header {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.7)),
      url('../assets/ceramic.avif');
    background-size: cover;
    background-position: center;
  }
}

/* .header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.7));
  z-index: 1;
} */

.header > * {
  position: relative;
  z-index: 2;
}